{
  "deleteModMsg": "1",
  "logDir": "",
  "newMemberChannel": "",
  "membersLeftChannel": "",
  "messageDeletedChannel": "",
  "announcementsChannel": "",
  "logChannel": "",
  "muteRole": "",
  "modLogError": "#ff0000",
  "modLogWarn": "#fed039",
  "modLogSev": "#fe6d39",
  "modLogSys": "#f8f8f8",
  "modLogInfo": "#59596a",
  "modLogOk": "#49ff00",
  "token": "",
  "ownerID": "",
  "clientID": "",
  "prefix": "+",
  "dbHost": "",
  "dbUser": "",
  "dbPass": "",
  "dbData": ""
}
